Database Download Tools/
DatabaseDownloadTools/CardPriceData/
DatabaseDownloadTools/RelevantCardPriceData/
*.pyc
DatabaseDownloadTools/FAILURES.txt
DatabaseDownloadTools/FAILURESMappingPriceToCardName.txt
